<% for (var i=0; i< product.length; i++) {%>
    <tr>
        <td>
            <%= i+1 %>
        </td>
        <td>
            <%= product[i].name %>
        </td>
        <td>
            <%= product[i].category %>
        </td>
        <td>
            <%= product[i].information %>
        </td>
        <td>
            <%= product[i].detail %>
        </td>
        <td>
            <%= product[i].characteristics %>
        </td>
        <td>
            <%= product[i].howtobuy %>
        </td>
        <!-- <td>
            <%= product[i].image %>
        </td> -->
        <td>
            <a href="/update-product?id=<%= product[i]._id %>" class="btn border-shadow update">
                <span class=""><i class="fa-solid fa-pencil"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%=product[i]._id %> >
                <span class=""><i class="fa-solid fa-rectangle-xmark"></i></span>
            </a>
        </td>
    </tr>
    <% }%>